<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h3 style="text-align:center">Welcome to Register page</h3>
<div style="text-align:center">
    {{ form.name.label }}
    <br>
    {{ form.name }}
    <br>
    {{ form.email.label }}
    <br>
    {{ form.email }}
    <br>
    {{ form.password.label }}
    <br>
    {{ form.password }}
    <br>
    {{ form.confirm_password.label }}
    <br>
    {{ form.confirm_password }}
    <br>
    <br>
    {{ form.button }}
    <br>
</div>
</body>
</html>